.callback-popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    &.open {
        visibility: visible;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: $dark;
        opacity: 0;
        transition: opacity .2s ease-out;

        &.show {
            opacity: 0.6;
        }
    }

    &__body {
        position: absolute;
        top: 31px;
        right: -100%;
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        max-width: 582px;
        padding: 76px 68px 158px;
        border-radius: 24px;
        transition: all .5s ease-out;

        &-send-animation {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;

            .spinner {
                width: 80px;
                height: 80px;
                border: 2px solid $light-gray;
                border-top:3px solid $red;
                border-radius: 100%;
                animation: spin 1s infinite linear;
                transform-origin: center;
            }

            @keyframes spin {
                from{
                    transform: rotate(0deg);
                }to{
                    transform: rotate(360deg);
                }
            }

            &.visible {
                visibility: visible;
            }
        }

        &.open {
            right: 59px;

            @media (max-width: 767px) {
                right: 32px;
            }
        }

        &-close {
            border: none;
            outline: none;
            appearance: none;
            cursor: pointer;
            width: 44px;
            height: 44px;
            border-radius: 8px;
            background-color: #F7F8FA;
            position: absolute;
            top: 32px;
            right: 32px;

            @media (max-width: 767px) {
                top: 24px;
                right: 24px;
            }

            @media (max-width: 368px) {
                width: 32px;
                height: 32px;
            }

            svg {
                width: 8px;
                height: 8px;
            }
        }

        @media (max-width: 767px) {
            top: 60px;
            padding: 32px 24px 60px;
            max-width: 326px;
        }
    }

    &__form {

        &-title {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 32px;
            }

            @media (max-width: 368px) {
                font-size: 20px;
                line-height: 28px;
            }
        }

        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            opacity: 0.6;
            margin-top: 12px;
            max-width: 395px;

            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
                max-width: 240px;
            }
        }

        &-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 32px;
        }

        &-group.error &-input {
            border: 1px solid $red;
        }

        &-group.error &-error-message {
            display: block;
        }

        &-label {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #202B39;
            margin-bottom: 12px;
        }

        &-input {
            outline: none;
            border: 1px solid #D2D7DF;
            appearance: none;
            border-radius: 8px;
            box-sizing: border-box;
            background: transparent;
            padding: 20px;
            width: 100%;
            max-width: 342px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #202B39;

            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #202B39;
                opacity: 0.6; 
            }

            @media (max-width: 767px) {
                padding: 15px;
            }
        }

        &-error-message {
            display: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #E81D25;
            margin-top: 12px;
        }

        &-submit {
            margin-top: 32px;

            @media (max-width: 767px) {
                margin-top: 24px;
                width: 100%;
            }
        }
    }
}
