.data {
    display: flex;
    align-items: center;
    padding-top: 37px;

    &__box {
        margin-right: 110px;
        white-space: nowrap;
        user-select: none;

        &:last-child {
            flex-grow: 1;
            text-align: right;
            margin-right: 0;
            
            @media (max-width: 1160px) {
                flex-grow: 0;
            }
        }

        @media (max-width: 1160px) {
            margin-right: 0;
        }

        @media (max-width: 1023px) {
            width: 50%;
            margin-bottom: 24px;
        }

        &:nth-child(3) {
            @media (max-width: 1023px) {
                order: 4;
                margin-bottom: 0;
            }
        }

        &:nth-child(4) {
            @media (max-width: 1023px) {
                text-align: left;
                margin-bottom: 0;
            }
            
            .data__value {
                @media (max-width: 1023px) {
                    white-space: wrap;
                    max-width: 180px;
                }
            } 
        }
    }

    &__name {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        opacity: 0.5;
    }

    &__value {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-top: 8px;

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 20px;
            margin-top: 4px;
        }

        @media (max-width: 369px) {
            font-size: 14px;
        }
    }

    &__value-in-month {
        opacity: 0.5;
    }

    @media (max-width: 1160px) {
        justify-content: space-between;
    }

    @media (max-width: 1023px) {
        flex-wrap: wrap;
    }

    @media (max-width: 767px) {
        padding-top: 24px; 
    }
}
