.features {
    margin-top: 92px;

    &__head {
        display: flex;
        align-items: center;

        &-title {
            margin-right: 29px;
        }

        @media (max-width: 1023px) {
            justify-content: space-between;
        }
    }

    &__slider {
        user-select: none;
        margin-top: 48px;

        &-item {
            position: relative;
            width: 384px;
            min-width: 384px;
            height: 512px;
            box-sizing: border-box;
            border-radius: 24px;
            overflow: hidden;
            flex-shrink: 0;

            &-info {
                position: absolute;
                left: 24px;
                right: 24px;
                bottom: 24px;
                background: rgba(232, 232, 232, 0.1);
                backdrop-filter: blur(32px);
                border-radius: 12px;
                color: white;
                padding: 16px 20px 20px 20px;
                box-sizing: border-box;
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 20;
            }

            &-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 22px;
            }

            &-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                opacity: 0.8;
                max-width: 280px;
            }

            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-gradient {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 269px;
                background: linear-gradient(180deg, rgba(13, 24, 35, 0.8) 0%, rgba(13, 24, 35, 0) 100%);
                transform: rotate(-180deg);
            }

            @media (max-width: 767px) {
                width: 332px;
                min-width: 332px;
            }

            @media (max-width: 369px) {
                width: 310px;
                min-width: 310px;
            }
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            flex-shrink: 0;
            width: 384px;
            min-width: 384px;
            max-width: 384px;
            margin-right: 36px;

            &:last-child {
                margin-right: 0; 
            }

            @media (max-width: 767px) {
                width: 332px;
                min-width: 332px;
                max-width: 332px;
                margin-right: 20px;
            }

            @media (max-width: 369px) {
                width: 310px;
                min-width: 300px;
                max-width: 300px;
            }
        }

        @media (max-width: 767px) {
            margin-top: 24px;
        }
    }

    @media (max-width: 1023px) {
        margin-top: 64px;
    }

}
