.footer {
    position: relative;
    background-color: $dark;

    &__wrapper {
        padding: 52px 52px 33px;
        width: 73.6153%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        @media (max-width: 1239px) {
            width: 90%;
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            padding: 35px 32px 41px;
        }

        @media (max-width: 767px) {
            padding: 35px 16px 41px;
        }
    }

    &__logo {

        svg {
            @media (max-width: 1023px) {
                width: 162px;
                height: 32px;
            }
        }
        
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: stretch;
    }

    &__up, &__mob-up {
        display: flex;
        align-items: center;
        margin-top: auto;
        user-select: none;

        &-btn {
            width: 40px;
            height: 40px;
            border: 1px solid rgb(255, 255, 255, 0.2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &-text {
            font-weight: 400;
            color: white;
            font-size: 14px;
            line-height: 20px;
            margin-left: 15px;
        }

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15px;
        padding-bottom: 7px;

        @media (max-width: 1023px) {
            padding: 0;
            margin-top: 48px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        user-select: none;

        &-link {
            font-weight: 500;
            color: white;
            font-size: 12px;
            line-height: 16px;
            margin-right: 20px;
            transition: all .3s ease-out;

            &:last-child {
                margin-right: 0;

                @media (max-width: 1023px) {
                    margin-bottom: 0;
                }
            }

            @media (max-width: 1023px) {
                margin-right: 0;
                margin-bottom: 20px;
            }

            &:hover {
                opacity: 0.4;

                @media (max-width: 1023px) {
                    opacity: 1;
                }
            }
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__phone {
        font-weight: 500;
        color: white;
        font-size: 48px;
        line-height: 48px;
        margin-top: 56px;

        @media (max-width: 1023px) {
            font-size: 40px;
        }

        @media (max-width: 369px) {
            font-size: 32px;
        }
    }

    &__btn {
        margin-top: 28px;

        @media (max-width: 1023px) {
            margin-top: 16px; 
        }
    }

    &__copyright {
        font-weight: 400;
        color: white;
        font-size: 14px;
        line-height: 20px;
        margin-top: 154px;
        user-select: none;

        @media (max-width: 1023px)  {
            margin-top: 85px; 
        }
    }

    &__mob-up {
        display: none;
        user-select: none;
        @media (max-width: 1023px) {
            display: flex;
            position: absolute;
            bottom: 30px;
            right: 16px;
        }
    }
}

