.main-features {
    margin-top: 92px;

    &__title {
    }

    &__items {
        margin-top: 48px;

        @media (max-width: 1023px) {
            margin-top: 33px;
        }
    }

    &__items-row {
        display: flex;
        margin-bottom: 36px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 1174px) {
            margin-bottom: 24px;
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__item {
        position: relative;
        padding: 34px;
        box-sizing: border-box;
        background: rgba(243, 243, 243, 0.8);
        backdrop-filter: blur(12px);
        border-radius: 24px;
        width: 100%;
        max-width: 365px;
        height: 260px;
        margin-right: 36px;
        display: flex;
        flex-direction: column;
        user-select: none;

        &-middle {
            width: 100%;
            max-width: 498px;

            .main-features__item-big-name {
                max-width: 244px;
            }

            @media (max-width: 1023px) {
                max-width: 100%; //358
            }
        }

        &:first-child {
            max-width: 100%;
            flex-grow: 1;

            @media (max-width: 1023px) {
                max-width: 100%; //358
                flex-grow: 0;
            }
        }

        &:last-child {
            margin-right: 0;
            margin-bottom: 0; 
        }

        .icon-box {
            position: absolute;
            top: 34px;
            right: 34px;

            @media (max-width: 1174px) {
                top: 24px;
                right: 24px; 
            }

            @media (max-width: 1023px) {
                top: 20px;
                right: 20px; 
            }
        }

        &-name {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            max-width: 252px;
        }

        &-info {
            margin-top: auto;
        }

        &-value {
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
        }

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            opacity: 0.6;
            max-width: 300px;
            margin-top: 16px;
        }

        &-big-name {
            font-weight: 700;
            font-size: 32px;
            line-height: 36px;
            max-width: 500px;

            @media (max-width: 1174px) {
                font-size: 28px;
                line-height: 32px;
            }

            @media (max-width: 1023px) {
                font-size: 24px;
                line-height: 28px;
                max-width: 262px; 
            }

            @media (max-width: 369px) {
                font-size: 20px;
                line-height: 24px;
                max-width: 222px;
            }
        }

        @media (max-width: 1174px) {
            margin-right: 24px;
            padding: 24px;
        }

        @media (max-width: 1023px) {
            max-width: 100%; //358
            margin-right: 0;
            margin-bottom: 20px;
            padding: 20px;
        }
    }

    @media (max-width: 1023px) {
        margin-top: 64px;
    }
}

